<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @listing.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @listing.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category_id.book_category %>
  
</p>

<p>
  <strong>Keywords:</strong>
  <%= @listing.keywords %>
</p>

<p>
  <strong>Available:</strong>
  <%= @listing.available %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

  <%= image_tag @listing.picture, :class => "card-img-top" if @listing.picture.attached?%>


<% if can? :edit, Listing %>
<%= link_to 'Edit', edit_listing_path(@listing) %> 
<%end%>


<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<%= link_to "Buy", "", id: "stripe" %>

<%= javascript_pack_tag "stripe" %>


