<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<div class= "container" >
  <div class="row">
      <% @category.each do |category| %>
        <% @category = category %>
        <%= render partial: 'category_cards', category: @category %>  
    <% end %>
  </div>
</div>











<h1> Categories </h1>

<div class="title-container">
  <% if can? :create, @category %>
    <%= link_to 'New Category', new_category_path, class: "btn btn-default" %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>

<%= render 'category_cards' %>


