<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.book_category %>
</p>

  <strong>Summary:</strong>
  <%= @category.summary %>
</p>

<%= link_to 'Back', categories_path %>

  <% if can? :edit, @category %>
            <td><%= link_to 'Edit Category', edit_category_path(@category), class: 'btn btn-info' %></td>
          <% end %>
          
          
<div class= "container" >
  <div class="row">
      <% @category_listing.each do |category_listing| %>
        <% @category_listing = category_listing %>
        <%= render partial: 'category_listings', category: @category %>  
    <% end %>
  </div>
</div>






